<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="justy.com.justystudy">

    <!--常用权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="justy.com.justystudy.StudyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="justy.com.justystudy.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="justy.com.justystudy.SettingActivity"
            android:parentActivityName="justy.com.justystudy.MainActivity" />
        <activity android:name="justy.com.justystudy.StudyActivity" />
        <activity android:name=".architectureComponents.MvpActivity" />
        <activity android:name="justy.com.justystudy.observability.ui.UserActivity" />
        <activity android:name="justy.com.justystudy.kotlin.KotlinActivity"></activity>
    </application>

</manifest>